<h2 mat-dialog-title>{{branch_id==0?'Add Branch':'Update Branch'}}</h2>
<hr class="h-px border-0 bg-gray-700" />
<mat-dialog-content class="mat-typography">
    <form [formGroup]="branchForm" novalidate enctype="multipart/form-data">
        <div class="grid grid-cols-1 gap-6 md:grid-cols-4 lg:grid-cols-4 xl:grid-cols-4">
            <div class="col-span-4">
                <mat-form-field appearance="outline" class="w-full">
                    <mat-label>Name</mat-label>
                    <input matInput [type]="'text'" autocomplete="off" formControlName="name" placeholder="Branch name"
                        maxlength="255" />
                </mat-form-field>
            </div>
            <div class="col-span-4">
                <mat-form-field appearance="outline" class="w-full">
                    <mat-label>City</mat-label>
                    <input matInput [type]="'text'" autocomplete="off" formControlName="city" placeholder="Branch city"
                    maxlength="255" />
                </mat-form-field>
            </div>
            <div class="col-span-4">
                <mat-form-field appearance="outline" class="w-full">
                    <mat-label>State</mat-label>
                    <input matInput [type]="'text'" autocomplete="off" formControlName="state" placeholder="Branch state"
                    maxlength="255" />
                </mat-form-field>
            </div>
            <div class="col-span-4">
                <mat-form-field appearance="outline" class="w-full">
                    <mat-label>Country</mat-label>
                    <input matInput [type]="'text'" autocomplete="off" formControlName="country" placeholder="Branch country"
                        maxlength="255" />
                </mat-form-field>
            </div>

        </div>
    </form>
</mat-dialog-content>
<hr class="h-px border-0 bg-gray-700" />
<mat-dialog-actions align="end">
    <button mat-raised-button [mat-dialog-close]="true">Cancel</button>
    <button mat-raised-button color="primary" class="text-white" [disabled]="!branchForm.valid"
        (click)="createBranch(branchForm.value)">Save</button>
</mat-dialog-actions>