
<ul class="add-menu-cont">
    <!-- <li class="add-menu-item" routerLinkActive="active-menu">
        <a routerLink="/role/list">ROLE</a>
    </li> -->
    <li class="add-menu-item" routerLinkActive="active-menu">
        <a routerLink="/organization/list">ORGANIZATION</a>
    </li>
    <li class="add-menu-item" routerLinkActive="active-menu">
        <a routerLink="/branch/list">BRANCH</a>
    </li>
    <li class="add-menu-item" routerLinkActive="active-menu">
        <a routerLink="/department/list">DEPARTMENT</a>
    </li>
</ul>

<router-outlet></router-outlet>